<html>
  <body>
    <h1 style="font-size: 20px;">What about picking from one of these numbers?</h1>
<br>
  <ul>
    <% @numbers.each do |i| %>
      <li><%= i %></li>
    <% end %>
  </ul>
  </body>
</html>

