<html>
	<body>
	<h1 style="font-size: 20px;">Ready to calculate some numbers?  Please enter a number in each box.</h1>
<br>
	<form action="/calculations" method="post">
		<h2 style="font-size: 16px;">Add</h2>			
	      First Number: <input name="number_one" />&nbsp;  +  &nbsp;Second Number: <input name="number_two" />
	      	<br><br>
    	<h2 style="font-size: 16px;">Subtract</h2>			
	      First Number: <input name="number_one" />&nbsp;  - &nbsp;Second Number: <input name="number_two" />
      		<br><br>
      	<h2 style="font-size: 16px;">Multiply</h2>			
	      First Number: <input name="number_one" />&nbsp;  *  &nbsp;Second Number: <input name="number_two" />
      		<br><br>
      	<h2 style="font-size: 16px;">Divide</h2>			
	      First Number: <input name="number_one" />&nbsp;  / &nbsp; Second Number: <input name="number_one" />
      		<br><br />
	      <input type="submit" />
	     	<br><br><br>
	     	
    </form>
    <p><a href="/counting">If you can't think of a number, try one of these</a>
  </body>
</html>